@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e1eb0;
  --primary-soft: #3c65ee;
  --second: #ffffff;
  --third: #00be00;
  --accent: #00e000;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.curve1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: scaleX(1.5);
}

.curve1 .shape-fill {
  fill: #FFFFFF;
}

.curve2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curve2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: scaleX(1.5);
}

.curve2 .shape-fill {
  fill: #FFFFFF;
}