@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e1eb0;
  --primary-soft: #3c65ee;
  --second: #ffffff;
  --third: #00be00;
  --accent: #00e000;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}